@using ViewsExample.Models;
@{
    // inside c# code
    // multiple code blocks can be used
    string appTitle = "ASP.NET Core Demo App";
    Person person = new() { Name = "Jose", Age = null };

}
<!DOCTYPE html>
<html>
    <head>
        <title>@appTitle</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Welcome, @person.Name</h1>
    @if (person.Age.HasValue)
    {
        <p>@person.Age years old</p>
    }
    else
    {
        <p>Age is unknown</p>
    }
</body>
</html>