@{
    ViewBag.Title = "Create Person";
}

<a href="~/persons/index" class="link-rover">Back to Persons List</a>
<h2>Create Person</h2>
<div class="w-50">
    <form action="~/persons/create" method="post">

        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="PersonName" name="PersonName" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="Email" name="Email" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="DateOfBirth" class="form-label pt">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="DateOfBirth" name="DateOrBirth" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Gender" class="form-label pt">Gender</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="radio" id="Male" value="Male" name="Gender" />
                <label for="Male">Male</label>
                <input class="form-input" type="radio" id="Female" value="Female" name="Gender" />
                <label for="Female">Female</label>
                <input class="form-input" type="radio" id="Other" value="Other" name="Gender" />
                <label for="Other">Other</label>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="CountryID" class="form-label pt">Country</label>
            </div>
            <div class="flex-1">
               <select name="CountryID" id="CountryID" class="form-input">
                   <option>Please Select</option>
                   @foreach (CountryResponse country in ViewBag.Countries)
                    {
                        <option value="@country.CountryID">@country.CountryName</option>
                    }
               </select>
            </div>
        </div>
        <button>Submit</button>
    </form>
</div>