<h1>Home</h1>

@*Example of PartialViewResult usage*@
<button id="button-load" class="button button-blue-back" type="button">
    Load Programming Languages
</button>
<div class="box programming-languages-content">
</div>

<script>
    document.querySelector("#button-load")
    .addEventListener("click", async () => {
        var response = await fetch("programming-languages")
        var languages = await response.text();
        document.querySelector(".programming-languages-content").innerHTML = languages;
    })
</script>

@*@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Countries";
    listModel.ListItems = new List<string>()
        {
                "Canada",
                "Brazil",
                "Colombia"
        };
}

<div class="box">
    <partial name="_ListPartialView" model="listModel"></partial>
</div>*@

@*@{
    // makes that the file can only read properties from this view data
    // requires view-data property
    var myViewData = new ViewDataDictionary(ViewData);


    myViewData["ListTitle"] = "Countries";
    myViewData["ListItems"] = new List<string>()
        {
                "Canada",
                "Brazil",
                "Colombia"
        };
}

<div class="box">
    <partial name="_ListPartialView" view-data="myViewData"></partial>
</div>*@